<html>
    <body>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {% for f in form if f.label.text != 'Csrf Token' %}
            <div>
                {{ f.label }}
                {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errrors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <input type="submit" />
        </form>
    </body>
</html>