<html>
    <body>
        <div>
            {% if user and user.is_authenticated() %}
                <div>
                    Hello {{ user.login }}!
                </div>
                <div>
                    <a href="{{ url_for('logout_view') }}">Logout</a>
                </div>
            {% else %}
                <div>
                    Welcome anonymous user!
                </div>
                <div>
                    <a href="{{ url_for('login_view') }}">Login</a>
                </div>
                <div>
                    <a href="{{ url_for('register_view') }}">Register</a>
                </div>
            {% endif %}
        </div>
        <div>
            <a href="{{ url_for('admin.index') }}">Go to admin!</a>
        </div>
    </body>
</html>